.aboutme {
    position: absolute;
    top: 20px;
    right: 50px;
    background-color: rgba(0, 0, 0, 0.622);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 10px 0 0;
    gap: .5em;
    border-radius: 40px;
    z-index: 100;

    i {
        font-size: 14px;
        height: 30px;
        width: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #313131;

        border-radius: 50%;
    }

    p {
        font-size: 13px;
        font-weight: 700;
       
    }
    .rounded-circle{
        background-color: #454545;
        width: 30px;
        height: 30px;
        border-radius: 2rem;
    }
}