.contenedor_de_formulario{
    width: 100%;
    margin-top: 2%;
    margin-bottom: 5%;
}
.contact{
    width: 100%;
    overflow-y: scroll;
}
@media only screen and (max-width: 768px){
    .contenedor_de_formulario{
        width: 100%;
        margin-top: 10%;
    }
}
@media only screen and (min-width: 768px) and (max-width: 991px){
    .contenedor_de_formulario{
        width: 100%;
        margin-top: 2%;
    }
}