.search{
    width: 100%;
    display: flex;
    overflow-y: scroll;
    padding: 40px 35px;
    justify-content: center;
    height: 100%;

    &_container{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        gap: 1.5em;
        align-items: center;
    
    
        &_input{
            padding-left: 20px;
            width: 100%;
            max-width: 360px;
            .group {
                display: flex;
                line-height: 28px;
                align-items: center;
                position: relative;
                width: 100%;
              }
              
              .input {
                height: 40px;
                line-height: 28px;
                padding: 0 1rem;
                width: 100%;
                padding-left: 3rem;
                border: 2px solid transparent;
                border-radius: 20px;
                outline: none;
                background-color: #ffffff;
                color: #0d0c22;
                transition: .3s ease;
              }
              
              .input::placeholder {
                color: #777;
              }
              
              .icon {
                position: absolute;
                left: 1rem;
                fill: rgb(16, 16, 16);
                width: 1.5rem;
                height: 1.5rem;
              }
        }

    }



    
      
      
      
      
      
      
}

