.container{
    overflow-y: scroll;
}
.superiores{
    width: 90%;
    display: flex;
    margin-top: 2%;
    margin-left: 5%;
}
.inferior{
    width: 45%;
    display: flex;
    margin-top: 3%;
    margin-left: 27%;
    margin-bottom: 2%;
}

