.create_song_page{
    overflow-y: scroll;
    width: 100%;
    align-items: center;
    @media (max-width: 600px) {
      font-size: 14px;
    }
    .song-form-container {
      background-color: rgb(26, 26, 26);

        display: flex;
        flex-direction: column;
        margin-top: 8%;
        padding: 2%;
        border-radius: 0.5rem;
        margin-left: 25%;
        width: 50%;
        .form-group_letras{
            width: 100%;
            height: 150px;
            textarea {
                background-color: #383838;
                color: white;
                border-radius: 0.5rem;
                border: none;
                padding: 2% ;
                width: 100%;
                height: 100%;
                resize: none;
                &:focus {
                  outline: none;
                  outline: none;
                }
              }
        }
        .form-group_boton{
            margin-top: 10%;
            outline: none;
        }
        .form-group {
          margin-bottom: 1rem;
          margin-bottom: 30px;

      
          label {
            color: white;
            
          }
      
          input,
    
      
          .form-control-file {
            background-color: #383838;
            color: white;
            border-radius: 0.5rem;
            border: none;
            width: 100%;
            padding: 15px 10px;
            
          }
          .form-control_titulo{
            width: 90%;
            margin-left: 5%;
            outline: none;
            text-align: center;
            

          }
          .titulo_creacion_cancion{
            margin-bottom: 20px;
            text-align: center;
          }
    
        }
    
    
      
        .btn {
          width: 100%;
          margin: 0 auto;
            outline: none;
          background-color: #1DB954;
          color: white;
          border-radius: 0.5rem;
          border: none;
          padding: 1rem 3rem;
          font-weight: bold;
          &:hover {
            background-color: #1ed760;
          }

          @media (max-width: 600px) {
            margin-top: 20px;
          }
        }
      }
}
