

.header{
  width: 20%;
  max-width: 230px;
  height: 100%;
  background-color: var(--navbar);

  &_logo{
    width: 130px;
    height: 50px;
   

    &-img{
      width: 100%;
      height: 100%;
      object-fit: contain;
    }


  }

  &_links{
    display: flex;
    flex-direction: column;
    gap: 1.3em;
    
    
    &_item{
      display: flex;
      align-items: center;
      gap: 1em;
      margin-top: 1px;
      &_img{
        background-color: var(--gray);
        padding: 4px 7px;
      }
      &_img_2{
        background: hsla(255, 92%, 50%, 1);

background: linear-gradient(360deg, hsla(255, 92%, 50%, 1) 0%, hsla(0, 0%, 46%, 1) 80%);

background: -moz-linear-gradient(360deg, hsla(255, 92%, 50%, 1) 0%, hsla(0, 0%, 46%, 1) 80%);

background: -webkit-linear-gradient(360deg, hsla(255, 92%, 50%, 1) 0%, hsla(0, 0%, 46%, 1) 80%);

        padding: 4px 7px;
        
       
      }
    }
  }
  &_extras{
    display: flex;
    flex-direction: column;
    gap: 1em;
    margin-top: 15px;
  }
  &_playlist{
    display: flex;
    flex-direction: column;
    gap: 1em;


    &_item{
      display: flex;
      align-items: center;
      gap: .8em;
      i{
        padding: 6px 7px;
        background-color: rgb(0,70,56);
        color: var(--primary-color);
      }

    }

  }
  
}


    .header_line{
      height: .01em;
      width: 100%;

      background-color: rgba(128, 128, 128, 0.296);
    }
.header_container{
  width: 100%;
  height: 100%;
  padding: 20px 25px; 
  display: flex;
  flex-direction: column;
  gap: 2em;
  font-size: 14px;
  font-weight: 700;
  color: var(--gray);

}