.App{
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.Nav{
  width: 100%;
  height: 85%;
  display: flex;
}

.Footer_Container{
  width: 100%;
  height: 15%;
  max-height: 120px;
}
.hidden {
  display: none;
}


