.deletesong_container_main{
    width: 100%;
    display: flex;
    overflow-y: scroll;
    padding: 40px 35px;
    justify-content: center;
    height: 100%;
    align-items: center;

}

.deletesong_container{
    background-color: rgb(26, 26, 26);
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    min-width: 250px;
    padding: 40px;
    gap: 2em;
    &_form{
        display: flex;
        gap: .5em;
        width: 100%;
        justify-content: center;
        
        &_input{
            border-radius: 10px;
            width: 150px;
            &:focus {
                outline: none;
                outline: none;
            }
            padding: 0 10px;
        }

        button{
            background-color: var(--primary-color);
            border: none;
            border-radius: 10px;
            padding: 10px 10px;
            color: white;
        }
    }

    &_data{
        border: none;
        border-radius: 10px;
        width: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        color: var(--secondary-color);
     

        &_delete{
            padding: 12px 20px;
            border-radius: 10px;
            border: none;
            background-color: var(--primary-color);
            color: white;
            font-weight: 700;
        }
        
    }
}